{% extends 'base1.html' %}

{% block content%}
<h1 style="text-align: center">CONTACT ME</h1>
<form action={% url "contact" %} method="post">
{% csrf_token %}
<div class="row">
  <div class="input-field col 16">
  <i class="material-icons prefix">person</i>
  <input type="text" name="name">
  <label for="name">Your Name</label>
  </div>
  <div class="input-field col 16">
   <i class="material-icons prefix">mail</i>
  <input type="email" id="email" name="email" class="validate">
  <label for="email">E-mail</label>
  <span class="helper-text" data-error="Invalid e-mail" data-success="right">Type your e-mail correctly</span>
  </div>
  <div class="input-field col 16">
   <i class="material-icons prefix">call</i>
  <input type="number" name="phone" class="validate">
  <label for="phone">Phone</label>
  <span class="helper-text" data-error="Invalid phone number" data-success="right">Put your phone number</span>
  </div>
</div>
<div class="row">
  <div class="input input-field col 16">
  <i class="material-icons prefix">mode_edit</i>
  <textarea id="textarea1" name="msg" class="materialize-textarea"></textarea>
  <!--input type="text" name="msg"-->
  <label for="textarea1">Send me a message</label>
  </div>
</div>
<div class="row">
  <div class="input input-field col 16">
  <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>
</form>
{% endblock content%}