{% extends 'base.html' %}

{% block content%}
<img class="materialboxed" data-caption="A picture of a way with a group of trees in a park" width="250" src="https://lorempixel.com/800/400/nature/4">
<form action method="post">
{% csrf_token %}
  <input type="text" name="name" placeholder="Your Name">
  <input type="text" name="email" placeholder="E-mail">
  <input type="text" name="phone" placeholder="Phone">
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>
{% endblock content %}