{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  

    <title>JD webpage</title>
  </head>
  <body>
    <nav class="blue">
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Name</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href=".">Home</a></li>
          <li><a href="about-me">About me
        </a></li>
        <li><a href="coaching">Coaching Programmes</a></li>
        <li><a href="massages">Massages
        </a></li>
        <li><a href="contact">Contact me</a>
        </li>
        </ul>
      </div>
   </nav>
    <div class="nav-wrapper">
    <nav class="blue lighten-5">   
        <div class="brand-logo center">
            <ul>
                <li><a class="blue-text">Whatsapp:</a></li>
                <li ><a class="blue-text">E-mail:</a></li>
                <li ><a class="blue-text" >Facebook:</a></li>
            </ul>
        </div>
    </nav>
   </div>
  <div class="container">
  <!--h1 style="text-align: center">Write something</h1-->
    <div class="row">
        <div class="col s12 m7">
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <!--i class="large material-icons" style="color: #EE6E73">call</i-->
                <!--p>Write something1</p>
                <p class="light center">Write something2</p-->
            </div>
        </div>
    </div>
    <div class="container">
<footer style="position:fixed;bottom:0;left:0;width:100%;" class="page-footer blue"">
          <!--div class="footer-copyright"-->
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          <!--/div-->
        </footer>
</div>
  {% block content %}

 {% endblock content %}
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>